@{
    ViewData["Title"] = "About Me";
}
<style type="text/css">
    .img-center {
    	margin: 0 auto;
    }
</style>
<about>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="~/images/avatar.jpg" />
        <h3>
            Ken Mears
            <small>Senior Consultant</small>
        </h3>
        <p><a href="https://www.neudesic.com/" target="_blank">Neudesic</a> - The Trusted Technology Partner in Business Innovation</p>
        <p><a href="https://www.linkedin.com/in/krdmtech" target="_blank">LinkedIn</a></p>
    </div>
</about>