@{
    ViewData["Title"] = "Terms and Conditions";
}
<terms>
    <h1>Terms and Conditions ("Terms")</h1>
    <p>Last updated: June 09, 2016</p>
    <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://pbiapitools.azurewebsites.net/ website (the "Service") operated by Power BI API Interface ("us", "we", or "our").</p>
    <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
    <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
    <p><strong>Links To Other Web Sites</strong></p>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Power BI API Interface.</p>
    <p>Power BI API Interface has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Power BI API Interface shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
    <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
    <p><strong>Limitation of Liability</strong></p>
    <p>KRDM Apps and its affiliates will not be liable (whether in an action in negligence, contract or tort or based on a warranty or otherwise), in any event, for any loss, damage, expense, loss of profits, revenue, or loss or inaccuracy of data, or any direct, indirect, incidental, punitive, special or consequential damages, even if KRDM Apps or its representatives are advised of the possibility of such damages, in connection with</p>
    <ul>
        <li>(i) your reliance on or use or inability to use the content and information of this website or any linked website,</li>
        <li>(ii) any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure of this website or any linked website,</li>
        <li>(iii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from this website;</li>
        <li>(iv) unauthorized access to or alteration of your transmissions or data;</li>
        <li>(v) statements or conduct of any third party on our website; or</li>
        <li>(vi) any other matter relating to our website. in no event shall our total liability to you for all damages, losses, and causes of action (whether in contract, tort (including, but not limited to, negligence), or otherwise) exceed the amount paid by you, if any, for accessing our website.</li>
    </ul>
    <p> if you are dissatisfied with any portion of our website, or with any of these terms and conditions, your sole and exclusive remedy is the discontinuation of your use of this website. if any portion of this limitation of liability is found to be invalid, liability is limited to the fullest extent permitted by law.</p>
    <p><strong>Governing Law</strong></p>
    <p>These Terms shall be governed and construed in accordance with the laws of Colorado, United States, without regard to its conflict of law provisions.</p>
    <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
    <p><strong>Changes</strong></p>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about these Terms, please contact us.</p>
</terms>